html {
  margin: 0;
  background: #eef3f6;
}

body {
  padding: 0;
  margin: 0;
  color: #343951; /*OXFORD_BLUE*/
  font-family: Proxima-Nova-Regular, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("/fonts/Proxima-Nova-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Nova-Semibold";
  src: url("/fonts/Proxima-Nova-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url("/fonts/Proxima-Nova-Regular.ttf") format("truetype");
}
